<h2>Emergency Funds</h2>

<p>Get that new car quicker.</p>

<form>


  <div class="form-group">
    <label>When do you plan on buying a new car?</label>
  </div>

  <div class="form-group">
    <div class="btn btn-success" {{action 'save'}}>Continue...</div>
  </div>
</form>


