<h2>{{label}}</h2>

<p>Let's get you setup for retirement.</p>

<form>

  <div class="form-group">
    <label>How much money have you saved for retirement?</label>
    {{currency-input class="form-control" placeholder="amount saved" unformatted=amountSaved}}
    <span class="help-block">We will use this to help you figure out how much you should be contributing on a regular basis.</span>
  </div>

  <div class="form-group">
    <label>The average retirement age is 67, change the age below if you want to retire earlier or later</label>
    {{input type="number" class="form-control" placeholder="67" value="67"}}
  </div>

  <div class="btn btn-success" {{action 'save'}}>Continue...</div>
</form>