<h2>Your Account</h2>

<p>It looks like you’ve already started investing for your <b>College</b> goal. Given that this is a long-term goal, the best way to save for this would be to invest in the stock market.</p>

<div class="form-group">
  <label>How would you like us to approach this goal?</label>
  <div class="radio">
    <label>
      {{radio-button value='directDeposit' checked=longTermLocation}}
      I’d like use a Dream Forward brokerage account just for my financial goals, automatically deducing the right amount of money from each paycheck.
    </label>
  </div>
  <div class="radio">
    <label>
      {{radio-button value='personal' checked=longTermLocation}}
      Just keep it in my personal saving map, but don’t deduct from my paycheck. I’ll handle it.
    </label>
  </div>
</div>
{{#if warnSavingsLocation}}
  <div class="help-block bg-warning">We recommend you have a separate brokerage account for your financial goals so you’re not tempted to try to be a stock trader and beat the market.</div>
{{/if}}

{{#link-to 'dashboard'}}<div class="btn btn-success">Save</div>{{/link-to}}