<h2>Manage Short-Term Goals</h2>

<p>It looks like you’ve already started saving for your <b>Car Purchase</b> and <b>Emergency Savings</b> goals. These are relatively short-term goals that you should save for in a bank account.</p>
<div class="form-group">
  <label>How would you like us to approach these goals?</label>

  <div class="radio">
    <label>
      {{radio-button value='dreamForward' checked=shortTermLocation}}
      I’d like to save for the remaining about of money I need for these goals in a Dream Forward bank account that automatically deducts from each paycheck.
    </label>
  </div>
  <div class="radio">
    <label>
      {{radio-button value='directDeposit' checked=shortTermLocation}}
      Help me set up direct deposit so Dream Forward can transfer the right amount of money from my paycheck to my existing outside account where I’m already saving.
    </label>
  </div>
  <div class="radio">
    <label>
      {{radio-button value='personal' checked=shortTermLocation}}
      Just keep it in my personal saving map, but don’t deduct from my paycheck for it. I’ll handle it.
    </label>
  </div>
</div>
{{#if warnSavingsLocation}}
  <div class="text-danger">Note: We recommend having your savings in separate account than your day-to-day checking or banking account that you use to pay bills – that way you won’t be tempted!</div>
  <br/>
{{/if}}

{{#link-to 'setup.account-long-term'}}<div class="btn btn-success">Save</div>{{/link-to}}