<p>
  Outside of retirement, select any financial goals that you are currently saving for or would like to start saving for. Even if you’ve already saving for it elsewhere, make sure you add it here so we have a complete picture of your financial goals.
</p>

<form {{action 'save' on='submit'}}>
  {{#each}}
    <label>
      {{input type="checkbox" checked=enabled disabled=disabled}}
      {{label}}
    </label>
    <br/>
  {{/each}}
  {{input type="submit" class="btn btn-success" value="Continue..."}}
</form>