<h2>Choosing Your Investment Mix</h2>

<p>Now that we’ve laid out your goals, we’ve identified <b>Retirement</b> and <b>College</b> goals that should be invested in the stock market. Since you won’t need to access the money for many years, it can grow and ride out the market’s ups and downs.</p>
<p>You can view our recommended portfolios based on your age and the timeline of your goals below. You can customize the investment mix and risk tolerance of individual goals or stick with our recommendation and hit the “Next” button.</p>
<p>You can also take a <a href="#">risk tolerance quiz</a> to learn more about my appetite for risk.</p>




<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">College Goal for Tim</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <b>$4,000</b> needed by 2015
        <br/>
        <br/>
        Dream Forward will start saving $25/paycheck
        <br/>
        <b>$20,000</b> currently saved in outside account(s)
      </div>
      <div class="col-sm-6">
        <table class="table table-condensed table-striped">
          <tr>
            <th>Asset Class</th>
            <th>Percentage</th>
            <th>ETF</th>
          </tr>
          <tr>
            <td><a href="#">US Stocks</a></td>
            <td>34.7%</td>
            <td><a href="#">VTI</a></td>
          </tr>
          <tr>
            <td><a href="#">Foreign Stocks</a></td>
            <td>20.3%</td>
            <td><a href="#">VEA</a></td>
          </tr>
          <tr>
            <td><a href="#">Emerging Markets</a></td>
            <td>17.1%</td>
            <td><a href="#">VWO</a></td>
          </tr>
          <tr>
            <td><a href="#">Dividend Stocks</a></td>
            <td>7.8%</td>
            <td><a href="#">VIG</a></td>
          </tr>
          <tr>
            <td><a href="#">Natural Resources</a></td>
            <td>4.3%</td>
            <td><a href="#">DJP</a></td>
          </tr>
          <tr>
            <td><a href="#">Cash</a></td>
            <td>2%</td>
            <td></td>
          </tr>
        </table>
        <a href="#">Use my own mix of funds instead</a>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">College Goal for Samantha</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <b>$26,500</b> needed by 2023
        <br/>
        <br/>
        Dream Forward will start saving $80/paycheck
        <br/>
        <b>$500</b> currently saved in outside account(s)
      </div>
      <div class="col-sm-6">
        <table class="table table-condensed table-striped">
          <tr>
            <th>Asset Class</th>
            <th>Percentage</th>
            <th>ETF</th>
          </tr>
          <tr>
            <td><a href="#">US Stocks</a></td>
            <td>34.7%</td>
            <td><a href="#">VTI</a></td>
          </tr>
          <tr>
            <td><a href="#">Foreign Stocks</a></td>
            <td>20.3%</td>
            <td><a href="#">VEA</a></td>
          </tr>
          <tr>
            <td><a href="#">Emerging Markets</a></td>
            <td>17.1%</td>
            <td><a href="#">VWO</a></td>
          </tr>
          <tr>
            <td><a href="#">Dividend Stocks</a></td>
            <td>7.8%</td>
            <td><a href="#">VIG</a></td>
          </tr>
          <tr>
            <td><a href="#">Natural Resources</a></td>
            <td>4.3%</td>
            <td><a href="#">DJP</a></td>
          </tr>
          <tr>
            <td><a href="#">Cash</a></td>
            <td>2%</td>
            <td></td>
          </tr>
        </table>
        <a href="#">Use my own mix of funds instead</a>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Retirement 401(k) account</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <b>$400,000</b> needed by 2050
        <br/>
        <br/>
        Dream Forward will start saving $20/paycheck
        <br/>
        <b>$100,000</b> currently saved in outside account(s)
      </div>
      <div class="col-sm-6">
        <table class="table table-condensed table-striped">
          <tr>
            <th>Asset Class</th>
            <th>Percentage</th>
            <th>ETF</th>
          </tr>
          <tr>
            <td><a href="#">US Stocks</a></td>
            <td>34.7%</td>
            <td><a href="#">VTI</a></td>
          </tr>
          <tr>
            <td><a href="#">Foreign Stocks</a></td>
            <td>20.3%</td>
            <td><a href="#">VEA</a></td>
          </tr>
          <tr>
            <td><a href="#">Emerging Markets</a></td>
            <td>17.1%</td>
            <td><a href="#">VWO</a></td>
          </tr>
          <tr>
            <td><a href="#">Dividend Stocks</a></td>
            <td>7.8%</td>
            <td><a href="#">VIG</a></td>
          </tr>
          <tr>
            <td><a href="#">Natural Resources</a></td>
            <td>4.3%</td>
            <td><a href="#">DJP</a></td>
          </tr>
          <tr>
            <td><a href="#">Cash</a></td>
            <td>2%</td>
            <td></td>
          </tr>
        </table>
        <a href="#">Use my own mix of funds instead</a>
      </div>
    </div>
  </div>
</div>


{{#link-to 'dashboard'}}<div class="btn btn-success">Next</div>{{/link-to}}

