<h2>Your Plan</h2>


$3,000 paycheck every two weeks

10%  $xxx
Towards Goals




Short Term Goals

Car Purchase




Long Term Goals

Tim College

Samantha College





Retirement

401k Account

{{#link-to 'setup.account'}}<div class="btn btn-success">Save</div>{{/link-to}}