<h2>Identity Confirmation</h2>

<p>Your employer, Big Co. has released the following information. Please verify it is all correct.</p>

<div class="well">
  Joe Smith (age 34)<br/>
  100 Banks Street <br/>
  Cambridge, MA 49211 <br/>

  <br/>
  Married
  <br/>
  <br/>
  Yearly salary: $72,000
  <br/>
  Bi-monthly paycheck: $3,000
</div>

{{#if incorrectInformation}}
  <p>Please call our account setup representatives at <a href="tel:+1-414-555-2525">(414) 555-2525</a></p>
{{else}}
  <div class="btn btn-danger" {{action 'incorrectInfo'}}>This information is incorrect</div>
  {{#link-to 'setup.goals'}}<div class="btn btn-success">This information is correct</div>{{/link-to}}
{{/if}}

