<div class="navbar">
  <div class="container">
    <h1 id='title'>
      Dream Forward
      <small>It's not a workplace benefit it's a life benefit</small>
      {{#if session.isAuthenticated}}
        <div class="pull-right">
          <div class="btn btn-link" {{action 'invalidateSession'}}>Save for later</div>
          <div class="btn btn-link" {{action 'invalidateSession'}}>Logout</div>
        </div>
      {{/if}}
    </h1>
  </div>
</div>

<div class="container" id="body-wrapper">
  {{#if settingUp}}

  {{/if}}
  {{outlet}}
</div>