<div class="row">
  <div class="col-sm-4">
    {{#if resetSent}}
      Your password reset email has been sent.
    {{/if}}
    <form >
      <div class="form-group">
        {{input type="email" value=email placeholder="ryan@example.com" class="form-control"}}
      </div>
      <div class="form-group">
        {{input type="submit" value="Reset Password" class="btn btn-primary"}}
      </div>
    </form>
  </div>
</div>

<p>Don't have an account? {{#link-to 'register'}}Register{{/link-to}}</p>